In [5]:
import pandas as pd
import numpy as np

In [12]:
url = 'NVidia_stock_history.csv'
nvidia = pd.read_csv(url)
len(nvidia.index)

5743

In [14]:
#Deleting null records
nvidia = nvidia.dropna(how='any',axis=0)
len(nvidia.index)

5742

In [19]:
nvidia = nvidia.sort_values('Date')
nvidia.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1999-01-22,0.401941,0.448595,0.356484,0.376820,271468800.0,0.0,0.0
1,1999-01-25,0.406726,0.421081,0.376820,0.416296,51048000.0,0.0,0.0
2,1999-01-26,0.421081,0.429455,0.378016,0.383998,34320000.0,0.0,0.0
3,1999-01-27,0.385194,0.394764,0.363661,0.382801,24436800.0,0.0,0.0
4,1999-01-28,0.382801,0.385194,0.379212,0.381605,22752000.0,0.0,0.0